<div id="dialog-guide" class="easyui-dialog" data-options="title:'编辑引导页数据',buttons:'#btn_guide',closed:true">
  <div>
    <input name="id" id="id" type="hidden">
  </div>
  <div>
    <label>标　　题：<input name="adTitle" class="easyui-textbox">
    </label>
  </div>
  <br/>
  <div>
    <label>左侧广告：<input name="adLeft" class="easyui-textbox"></label>
  </div>
  <br/>
  <div>
    <label>右侧广告：<input name="adRight" class="easyui-textbox"></label>
  </div>
  <br/>
  <div>
    <label>页　　码：<input name="page" class="easyui-textbox">
    </label>
  </div>
  <br/>
  <div id="container">
    <label>背景图片：
      <!-- 显示文件名的文本框 -->
      <input class="easyui-textbox" readonly="readonly">
    </label>
    <!-- 处理图片的url -->
    <input name="imgUrl" type="hidden">
    <button type="button" id="pick-files">选择文件</button>
  </div>
</div>
<!-- 对话框按钮 -->
<div id="btn-guide">
  <a id="a-save" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="saveRecord()">保存</a>
  <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="$('#dialog-guide').dialog('close')">退出</a>
</div>

<style>
  #dialog-guide {
    width: 430px;
    height: 330px;
    padding: 20px 30px;
  }
  input {
    width: 220px;
  }
  button {
    font-size: 12px;
    display: inline;
  }
</style>
