<link rel="stylesheet" href="../css/field.css"/>

<!--轮播图广告的管理员列表页面-->
<table id="dg_guide" class="easyui-datagrid"
       data-options="singleSelect:true, fit:true, toolbar:'#tb',
       pagination:true, pageSize:30, pageList:[10,20,30,50,100],
       onHeaderContextMenu:createGridHeaderContextMenu,
       loadMsg:'数据正在努力加载，请稍后...'">
  <thead>
  <tr>
    <th data-options="field:'selector', checkbox:true"></th>
    <th data-options="field:'id', width:40, align:'center',hidden:true">编号</th>
    <th data-options="field:'category', width:200, align:'center'">分类</th>
    <th data-options="field:'page', width:100, align:'center'">页码</th>
    <th data-options="field:'imgUrl', width:500, align:'center'">图片地址</th>
  </tr>
  </thead>
</table>

﻿<!-- 工具栏 -->
<div id="tb">
  <input class="easyui-textbox" id="title" data-options="prompt:'标题/广告/页码'"/>
  <!--TODO-->
  <a class="easyui-linkbutton" id="btn_Query"
     data-options="iconCls:'icon-search'">查询</a>
  <a class="easyui-linkbutton" id="btn_Add"
     data-options="iconCls:'icon-add'">添加</a>
  <a class="easyui-linkbutton" id="btn_Edit"
     data-options="iconCls:'icon-edit'">修改</a>
  <a class="easyui-linkbutton" id="btn_Del"
     data-options="iconCls:'icon-cancel'">删除</a>
</div>
